%#template to generate a HTML table from a list of tuples (or list of lists, or tuple of tuples or ...)
<p>Users list :</p>
<table border="1">
  <tr>
  %for user in users:
    <td>{{user}}</td>
  %end
  </tr>
</table>